table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table,h5{
    border-collapse: collapse;
    width:85%;
    margin: 0 auto;
    
  }
  th, td .fa {
    padding: 15px;
    text-align: center;
  }
  tr,td{
    text-align: center;
  }
.paginations{
    text-align: center;
    padding:10px;
}
.data-heading{
  width:90%;
  margin:0 auto
}
.data-header{
  padding-bottom:15px
}
.data-heading-right button{
  margin-left: 20px;
  margin-bottom: 10px;
}

/* .data-header{float:left} */
.data-heading-left{width:60%;float:left}
.data-heading-right{float:right;width:30%}
