<div class = "header">
    <div class = "nav">
        <div style = "width:85%">
            <img src = "../assets/logo.JPG" style ="margin:10px">
        </div>
        <div style ="padding:20px">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
            <span>Manage</span>
        </div>       
    </div>
</div>
<div class ="navigation">
    <nav>
        <ul>
            <li>
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                <a routerLink="/targetlist" routerLinkActive="active">Target Lists</a>
            </li>
        <li>
            <i class="fa fa-address-book-o" aria-hidden="true"></i>
            <a routerLink="/suppression"  routerLinkActive="active">Suppression Lists</a>
        </li>
        <hr>
        </ul>
    </nav>  

</div>



<router-outlet></router-outlet> 